
body {
  padding: 0;
  margin: 0;
  height: 1500px;
}
/*header*/
.head{
  position: fixed;
  z-index: 2;
  width: 100%;
}
.offers{
  background-color:  #eceb98;;
  display: flex;
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
  height: 70px;
  font-size: 23;
  font-family: sans-serif;
}
.offer-courses{
  flex-grow: 1;
}
.offer-close{
  padding-right: 15px;
  padding-top: 5px;
}
/*Nav bar*/
#pc,#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile{
display: none;
}
.udemy-image{
  margin-left: 10px;
}

a:hover{
  color: darkblue;
}

.login-btn,.signup-btn,.world-btn{
  background-color: white;
  width: 80px;
  height: 40px;
  margin-top: 18px;
  text-align: center;
  font-weight: bold;
}
.udemy-nav-par{

  display: flex;
  width: 100%;
  height: 75px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);  
}

.udemy-image,
.cart-image,
.links,
.login-btn,
.signup-btn,
.world-btn{
  margin-right: 10px;
}
.Search_bar{
  flex-grow: 1;
}
.search-udemy-submit{
  
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border: none;
  padding-top: 5px;
  position: absolute;
}
.links{
  text-decoration:none;
  color: black;
  font-size: large;
}
.Search_form{
  width: 100%;
  margin-right: 25px;
}
.Search{
  border-radius: 20px;
  padding-left: 50px;
  width:100%;
  height: 40px;
  border: 2px solid black;
}

.signup-btn{
  background-color: black;
  color: white;
}
.world-btn{
  height: 40px;
  background-color: white;
  border: 1px solid black;
  width: 40px;
}
.Course-header,
.Course-description{
  padding-left: 20px;
}
.Course-header{
  padding-top: 30px;
}
.btn{
  background-color: violet;
}
.explore-course{
  background-color: white;
  height: 40px;
  font-weight: bold;
  margin: 10px 20px;
}
.stars{
  color: #e59819;
}
/*courses-category*/
.course-category{
  height: 40px;
  display: flex;
  justify-content: center;

}
.courses_list{
  list-style: none;
  width: 1380px;
  margin-left: 30px;
  padding-inline-start: 0px;
}
li {
  float: left;
  margin: 0px 5px;
  font-weight: bold;
  font-size: large;
  color: gray;
}
/*Course data*/
.instructor-name{
  color: gray;
  margin: 3px;
}
.Course-intro{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center ;
}
.intro-h1{
  font-weight: bold;
  font-size: x-large;
}
.conatiner{
  width: 1340px;
  margin: 0px 35px;
}
.course-image{
  width: 100%;
}
.course-price,.course-title{
  margin: 3px;
  color: black;
}


.course-content{
  width: 1350px;
  border: 3px solid black;
}

.courses{
  margin: 15px 10px;
  width: 19%;
}
.course-data{
  width: 220px;
}
.course-type{
  padding: 10px 30px;  
  display: flex;
  justify-content: center;
  align-items: center;
} 
.course-info{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
/*background*/

.background{
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container{
  display: flex;
  justify-content: center;
}
.udemy-description{
  padding-left: 5px;
}
.udemy-info{
  width: 455px;
  height: 182px;
  position: absolute;
  background-color: white;
  padding: 10px;
  transform: translate(-50%, +30%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%) ;  
}
.background-image{
  width: 1340;
  max-width: 100%;

}
.cards-wrapper{
  display: flex;
}

.carousel-control-prev,
.carousel-control-next{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-top: 80px;
  background-color: black;
}
figure img:hover {
  transform: scale(1.11);
}


@media only screen and (max-width: 1400px) {

  .udemy-info{  
    transform: translate(-139.5%, -45%);

  }

  .courses{
    width: 24%;
    margin: 0px 15px;
  } 
  .image-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

}
@media only screen and (max-width: 1144px) {
  .udemy-link{
    display: none;
  }

  .udemy-info{
    transform: translate(-100%, -30%);
  }
  
  .image-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .courses{
    width: 32%;
    margin-left: 30px;
  } 

}

@media only screen and (max-width: 1000px) {

  .courses{
    width: 48%;
    margin-left: 30px;
  } 
 
  #pc{
    display: none;
  }
  #mobile{
    display: block;
  }
  
  .udemy-description{
    padding-left: 15px;
  }
  .udemy-image2,.logo-image{
    padding-top: 10px;
  }
  .offers{
    height: 60px;
  }
  .image-container{
    display: block;
  }
  .udemy-info{
    position: relative;
    transform: translate(0%, +000%);
    width: 90%;
    height: 80px;
    padding: 0;
    margin-top: 30px;
    margin-left: 20px;
    box-shadow: none;
  }
  

  .logo-image{
    position: absolute;
    left: 75%;
  }
}
@media only screen and (max-width: 700px) {

  
  .image-container{
    display: block;
  }
  .courses{
    width: 90%;
    margin-left: 30px;
  } 
  .udemy-image2,.logo-image{
    padding-top: 20px;
  }.Course-intro{
    margin-top: 50px;
  }
  .conatiner{
    margin-top: 34px;
  }
  .offers{
    height: 70px;
  }
  .udemy-info{
    position: relative;
    transform: translate(0%, +000%);
    width: 90%;
    height: 80px;
    padding: 0;
    margin-left: 20px;
    box-shadow: none;
  }
  .logo-image{
    position: absolute;
    left: 75%;
  }
}
